@mixin btn-style {
    border: 1px solid black;
    background-color: none;
    color: black;
    padding: .5rem;
}
div{
    border: 2px solid green;
    text-align: center;
    padding: 2rem;
    margin: 0rem 30rem;
    h1{
        text-align: center;
    }
    h2{
        font-size: 3rem;
        text-align: center;
    }
    .add{
        @include btn-style();
        &:hover{
            color: white;
            background-color: green;
            cursor: pointer;
        }
    }
    .less{
        @include btn-style();
        &:hover{
            color: white;
            background-color: red;
            cursor: pointer;
        }
    }
}